.chatBoxWrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

:global(.semi-chat-container){
    width: 100%;
    // background-color: #f5f5f5;
    overflow-y: auto;
    // border:1px solid red;
}
