.chatCtx{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    .sidebar{
        width: 100px;
        border-right: 1px dashed #e5e5e5;
        // padding: 10px;
    }

    .chat{
        flex: 1;
    }
}

.siderBarItem + .siderBarItem{
    // margin-top: 4px;
}

.siderBarItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding: 6px 10px;

    &:hover{
        cursor: pointer;
        background-color: #f5f5f5;
    }
}

.activity{
    background-color: #f5f5f5;
}
