$borderColor: #4b4a4a;
$darkBgColor: #0f1011;

.dashboard {
//   background: $darkBgColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operatorCard {
  width: 80px;
  height: 100%;
  border-right: 1px dashed $borderColor;
}

.mainPage {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .mainHeader{
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed $borderColor;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
  }

  .mainContent{
    flex: 1;
  }
}
