$borderColor: #ccc;

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operatorCard {
  width: 80px;
  height: 100%;
  border-right: 1px dashed $borderColor;
}

.mainPage {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .mainHeader{
    height: 60px;
    border-bottom: 1px dashed $borderColor;
  }

  .mainContent{
    flex: 1;
  }
}
