$borderColor: #4b4a4a;
$darkBgColor: #0f1011;

.dashboard {
  //   background: $darkBgColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operatorCard {
  width: 80px;
  height: 100%;
  border-right: 1px dashed $borderColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;

  .iconbox {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selectedIcon {
    color: #00d992;
    box-shadow: 0 0 20px rgba(50, 240, 195, 0.2);
  }
}

.mainPage {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .mainHeader {
    width: 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    border-bottom: 1px dashed $borderColor;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }

  .mainContent {
    flex: 1;
  }
}
