$borderColor: #4b4a4a;
$darkBgColor: #0f1011;

.dashboard {
//   background: $darkBgColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operatorCard {
  width: 80px;
  height: 100%;
  border-right: 1px dashed $borderColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;

  svg {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
  }

  .selectedIcon {
    color: #6366f1;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
  }
}

.mainPage {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .mainHeader{
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed $borderColor;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }

  .mainContent{
    flex: 1;
  }
}
